body, html {
    height: 100%;
    margin: 0;
}
.status-bar {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    height: 85vh;
    width: 100%;
    padding-top: 1vh; /* Move down slightly from the top */
}

.boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 0; /*  calc(100vh / 4 - 10vh); Adjusting the top margin for 1:4 ratio */
}

.box {
    width: 100%;
    /* max-width: 150px;  Maximum size */
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.box-icon {
    font-size: 3rem; /* Larger icon */
    margin-bottom: 10px;
}
.footer {
   /*
    width: 100%;
    padding: 10px;
    */
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
}
#spinner {
    display: none;
    position: fixed; /* or 'absolute' if you want it to be relative to a parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensures it's on top of other elements */
}