.noShadow {
    box-shadow: none !important;
}
/** cookies **/
#cc-main {
    /** Change font **/
    --cc-font-family: Roboto;

    /** Change button primary color to black **/
    --cc-btn-primary-bg: #6013c5;
    --cc-btn-primary-border-color: #6013c5;
    --cc-btn-primary-hover-bg: #6013c5;
    --cc-btn-primary-hover-border-color: #6013c5;

    /** Also make toggles the same color as the button **/
    --cc-toggle-on-bg: var(--cc-btn-primary-bg);

    /** Make the buttons a bit rounder **/
    --cc-btn-border-radius: 10px;
}

    /* Custom CSS for changing list style */
    ul.checkmark-list {
        list-style-type: none;
        padding: 0;
      }
  
      ul.checkmark-list li::before {
        content: "\2713"; /* Unicode character for checkmark symbol */
        display: inline-block;
        width: 1em;
        margin-right: 0.5em; /* Adjust as needed */
        font-size: 1.2em; /* Adjust as needed */
        color: #ff0000; /* Custom color */
      }
  
  .image-container {
        position: relative;
        width: 100%;
        max-width: 600px; /* Adjust the maximum width as needed */
  }
  .image-container img {
        width: 100%;
        height: auto;
  }
  .overlay-text {
        position: absolute;
        top: 60%; /* Adjust as needed */
        left: 20%; /* Adjust as needed */
        color: whitesmoke; /*    rgb(7, 6, 6); */
        background-color:rgba(0, 0, 0, 0.5);
        /* background-color: rgba(0, 0, 0, 0.5);  Optional: Add background to the text */
        padding: 10px;
        border-radius: 5px;
        font-family: Arial, sans-serif;  /* Set your desired font here */
        font-weight: bold;  
        font-size: 1.2em; 
  }
      